*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* sets 1rem to 1px */
  font-family: MedievalSharp;
}

body {
  box-sizing: border-box;
  background-color: tan;
}

.header {
  text-align: center;
  border: solid black;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

/* .header-after {
  opacity: 0;
} */

.title {
  padding: 2rem;
  font-weight: 100;
  font-size: 5rem;
}

.character {
  background-image: linear-gradient(
      to right bottom,
      rgba(174, 213, 111, 0.7),
      rgba(180, 154, 40, 0.7)
    ),
    url(images/open.jpg);
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

nav {
  text-align: center;
  height: 5rem;
  padding: 2rem;
}
button {
  border-radius: 10px;
  border: none;
  height: 5rem;
  width: 20rem;
  font-family: MedievalSharp;
  background-color:rgb(118, 224, 224);
  
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: aqua;
  transform: scale(1.1)
}

input {
  border-radius: 10px;
  border: none;
  height: 5rem;
  width: 15rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: MedievalSharp;
  background-color: lightblue;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

input:hover {
 background-color:white;
 transform: scale(1.05);
 color: black;
}

.btn-start {
  font-size: 2rem;
}

.btn-start-after {
  display: none;
}

.attributes {
  font-size: 2rem;
  padding: 2rem 0rem 0rem 2rem;
  /* border: 3px solid black;
  background-color: #fff;
  width: 16%; */
}

h2 {
}

ul {
  list-style: none;
}

li {
  padding-top: 1rem;
  font-weight: bold;
}

.confirm {
  text-align: center;
  /* height: 5rem; */
  /* padding: 2rem; */
}

.btn-confirm {
  /* height: 3rem;
  width: 10rem;
   background-color:red; */
}

.btn-confirm-after {
  opacity: 0;
}

.info {
  /* justify-content: flex-start; */
  /* width: 100%; */
}

.container-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 100%;
}

/* #info-box {

 
} */



.name-input-after {
  opacity: 0;
}

.btn-dynamic {
  width: 10rem;
  font-size: 2rem;
  font-weight: bold;
}

.btn-name-after {
  opacity: 0;
}

/* .name-title {
  font-size: 2rem;
  font-weight: bold;
} */

/* .shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
} */
