*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* sets 1rem to 1px */
  font-family: MedievalSharp;
}

body {
  box-sizing: border-box;
  background-color: tan;
}

.header {
  text-align: center;
  border: solid black;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.title {
  padding: 2rem;
  font-weight: 100;
  font-size: 5rem;
}

.character {
  background-image: linear-gradient(
      to right bottom,
      rgba(174, 213, 111, 0.7),
      rgba(180, 154, 40, 0.7)
    ),
    url(images/open.jpg);
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

nav {
  text-align: center;
  /* height: 5rem; */
  padding: 2rem;
}
button {
  height: 3rem;
  width: 10rem;
}

.btn-start-after {
  display: none;
}

form {
  font-size: 2rem;
  padding: 2rem 0rem 0rem 2rem;

}

 h3 {
   padding-bottom: 1rem;

 }

 ul {
   list-style: none;

 }

 li {
   padding-top: 1rem;

 }

 .confirm-button {
   opacity: 0;

 }

 .confirm {
  text-align: center;
  /* height: 5rem; */
  padding: 2rem;
 }

 .btn-confirm {
   height: 3rem;
  width: 10rem;

 }

